# Ignore environment variables
.env

# Ignore database files
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Django migrations
**/migrations/**

# Ignore VS Code settings
.vscode/
